/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_1 {
            bindings = <&bt BT_NXT>;
            key-positions = <1 2 3 4>;
            timeout-ms = <100>;
            require-prior-idle-ms = <250>;
        };

        bt_2 {
            bindings = <&bt BT_CLR>;
            key-positions = <28 27 26 25>;
            timeout-ms = <100>;
            require-prior-idle-ms = <250>;
        };

        cancel_term {
            bindings = <&kp LC(C)>;
            key-positions = <6 5>;
            timeout-ms = <50>;
        };

        zoom_plus {
            bindings = <&kp RG(PLUS)>;
            key-positions = <7 8 9>;
            timeout-ms = <100>;
            require-prior-idle-ms = <250>;
            layers = <0>;
        };

        zoom_out {
            bindings = <&kp RG(MINUS)>;
            key-positions = <19 21 20>;
            timeout-ms = <100>;
            require-prior-idle-ms = <250>;
            layers = <0>;
        };

        dash {
            bindings = <&kp MINUS>;
            key-positions = <19 20>;
            layers = <2 0>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <31 32>;
            layers = <2 0>;
            timeout-ms = <100>;
        };

        forward_slash {
            bindings = <&kp SLASH>;
            key-positions = <19 8>;
            timeout-ms = <100>;
            layers = <2 0>;
        };

        back_slash {
            bindings = <&kp BACKSLASH>;
            key-positions = <7 20>;
            timeout-ms = <100>;
            layers = <2 0>;
        };
    };

    macros {
        copy_all: copy_all {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(A) &kp RG(C)>;
            label = "COPY_ALL";
        };

        arrow_right: arrow_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "ARROW_RIGHT";
        };

        leader_macro: leader_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RC(Z) &kp RC(B)>;
            label = "LEADER_MACRO";
        };

        toggle_vim: toggle_vim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F18>;
            label = "TOGGLE_VIM";
        };
    };

    behaviors {
        tap_dance: tap_dance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_DANCE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <24>;
        };

        Hrm: Hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            quick-tap-ms = <400>;
            require-prior-idle-ms = <400>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp ESC         &kp Q            &kp W         &kp E            &kp R      &kp T    &kp Y      &kp U   &kp I             &kp O             &kp BACKSPACE     &sl 6
&kp TAB         &Hrm LEFT_GUI A  &Hrm RCTRL S  &Hrm LEFT_ALT D  &lt 3 F    &kp G    &kp H      &kp J   &Hrm RIGHT_ALT K  &Hrm RCTRL L      &Hrm RIGHT_GUI P  &leader_macro
&kp LEFT_SHIFT  &kp Z            &kp X         &kp C            &kp V      &kp B    &kp N      &kp M   &kp LT            &kp GREATER_THAN  &mt GLOBE SLASH   &sl 5
                                               &sl 4            &kp SPACE  &to 2    &kp ENTER  &trans  &to 1
            >;
        };

        NUMBER2 {
            bindings = <
&to 0   &trans  &kp COLON  &kp KP_N7        &kp KP_N8        &kp KP_N9          &trans     &trans  &trans  &trans  &kp BACKSPACE  &trans
&trans  &trans  &trans     &kp KP_N4        &kp KP_NUMBER_5  &kp KP_NUMBER_6    &trans     &trans  &trans  &trans  &trans         &trans
&trans  &trans  &trans     &kp KP_N1        &kp KP_N2        &kp KP_N3          &trans     &trans  &trans  &trans  &trans         &trans
                           &kp KP_NUMBER_0  &kp KP_N0        &kp DOT            &kp ENTER  &trans  &to 0
            >;

            label = "NUMBER2";
        };

        SYMBOL {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "SYMBOL";
            bindings = <
&to 0                   &kp DOUBLE_QUOTES  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans      &kp EXCLAMATION  &kp COLON  &kp SEMICOLON  &kp CARET         &kp BACKSPACE  &kp AT
&tap_dance HASH DOLLAR  &kp SINGLE_QUOTE   &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE    &kp PERIOD       &trans     &kp EQUAL      &kp PERCENT       &kp ASTRK      &kp TILDE
&trans                  &kp GRAVE          &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans      &kp QUESTION     &trans     &kp PLUS       &kp LA(NUMBER_3)  &kp COMMA      &kp AMPERSAND
                                                   &trans                &trans                 &to 0       &trans           &trans     &trans
            >;
        };

        UTILITY {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    |BTCLR|     | SPC |   | ENT |     | ALT |

            label = "UTILITY";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &kp C_VOLUME_UP
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &kp C_VOL_DN
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &kp K_MUTE
                        &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        CONTROL {
            bindings = <
&to 0     &trans     &trans  &trans     &kp RG(LS(Z))  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&mkp MB4  &trans     &trans  &trans     &trans         &mkp MB5    &trans  &trans  &trans  &trans  &trans  &trans
&trans    &kp LG(Z)  &trans  &kp LG(C)  &kp RG(V)      &trans      &trans  &trans  &trans  &trans  &trans  &trans
                             &trans     &trans         &trans      &trans  &trans  &trans
            >;

            label = "CONTROL";
        };

        CHROME {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans    &kp RG(NUMBER_1)  &kp RG(NUMBER_2)  &kp RG(NUMBER_3)  &kp RG(NUMBER_4)  &kp RG(N5)  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans            &kp RC(RS(TAB))   &kp RC(TAB)       &trans            &trans      &kp RG(T)
&trans  &trans  &trans  &trans  &trans  &trans    &kp RG(RS(T))     &trans            &trans            &trans            &trans      &kp RG(RA(I))
                        &trans  &trans  &trans    &trans            &trans            &trans
            >;

            label = "CHROME";
        };

        SCREEN {
            bindings = <
&to 0           &trans  &trans  &trans  &trans  &trans    &kp LA(C)  &kp LA(M)             &kp LA(N)  &kp LA(W)  &trans  &to 0
&trans          &trans  &trans  &trans  &trans  &trans    &trans     &kp RG(RS(NUMBER_4))  &trans     &trans     &trans  &kp F11
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans    &trans     &kp RG(RS(N5))        &trans     &trans     &trans  &trans
                                &trans  &trans  &trans    &trans     &trans                &trans
            >;

            label = "SCREEN";
        };
    };
};
